@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AcidGrotesk';
  src: local('AcidGrotesk'), url(/fonts/AcidGrotesk-Light.woff2) format('woff2');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'AcidGrotesk';
  src: local('AcidGrotesk'),
    url(/fonts/AcidGrotesk-Regular.woff2) format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'AcidGrotesk';
  src: local('AcidGrotesk'),
    url(/fonts/AcidGrotesk-Medium.woff2) format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'AcidGrotesk';
  src: local('AcidGrotesk'), url(/fonts/AcidGrotesk-Bold.woff2) format('woff2');
  font-weight: 600;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #2f2f2f;
}

html {
  font-family: 'AcidGrotesk';
  overflow-x: hidden;
  background: #1a1a1a;
}

::-moz-selection {
  /* Code for Firefox */
  color: #0f0f0f;
  background: #49ff86;
}

::selection {
  color: #0f0f0f;
  background: #49ff86;
}

.tier-section {
  background: radial-gradient(
    61.82% 58.3% at 50% 58.3%,
    #232323 0%,
    #000000 100%
  );
}

img {
  user-select: none;
}

.indicator {
  left: 38%;
  width: 33.33%;
  border-radius: 0px;
  opacity: 0;
}

.tier-card-selector:has(.tier-card-selector-left:hover) > .indicator {
  width: 50%;
  left: 0.5rem;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.tier-card-selector:has(.tier-card-selector-right:hover) > .indicator {
  width: 33.33%;
  left: 61%;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.tier-card-selector > .indicator {
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.tier-card-selector:hover > .indicator {
  opacity: 1;
}

.tier-label {
  animation-name: bob;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bob {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.tier-card-fs {
  transition: transform 0.55s cubic-bezier(0.19, 1, 0.22, 1);
}

.tier-card:hover > .tier-card-fs {
  transform: scale(1.2);
}

.error-404 {
  background: radial-gradient(
    37.32% 68.87% at 50% 50%,
    #232323 0%,
    #101010 100%
  );
}

.left-light-grad {
  background: conic-gradient(
    from 181deg at 57% 0%,
    rgba(27, 27, 27, 0) -30.87deg,
    #218643 30.23deg,
    rgba(72, 255, 134, 0.6) 89.8deg,
    rgba(19, 19, 19, 0) 89.89deg,
    rgba(72, 255, 134, 0) 90.24deg,
    rgba(24, 24, 24, 0) 144.37deg,
    rgba(27, 27, 27, 0) 329.13deg,
    #218643 390.23deg
  );
  transform: scaleX(-1);
}

.right-light-grad {
  background: conic-gradient(
    from 181deg at 57% 0%,
    rgba(27, 27, 27, 0) -30.87deg,
    #218643 30.23deg,
    rgba(72, 255, 134, 0.6) 89.8deg,
    rgba(19, 19, 19, 0) 89.89deg,
    rgba(72, 255, 134, 0) 90.24deg,
    rgba(24, 24, 24, 0) 144.37deg,
    rgba(27, 27, 27, 0) 329.13deg,
    #218643 390.23deg
  );
}

.light-ellipse {
  background: rgba(72, 255, 134, 0.36);
  filter: blur(80px);
}

.light-bar {
  background: linear-gradient(180deg, #505050 0%, #44f27f 195%);
  border-radius: 3px;
}

.affiliate-page {
  background: radial-gradient(
      27.79% 51.28% at 88.98% 87.55%,
      #232323 0%,
      #0b0b0b 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.rive-canvas > canvas {
  width: 100% !important;
  height: 100% !important;
}

.icon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon.current {
  height: 60px;
  transform: translateY(-10px);
}

.icon.prev {
  height: 50px;
  transform: translateY(-6px);
}

.icon.next {
  height: 50px;
  transform: translateY(-6px);
}

.label-inner {
  background: linear-gradient(90deg, #101010 0%, #1b1b1b 50.52%, #101010 100%);
}

.label-stroke {
  background: linear-gradient(0deg, #81818100 0%, #818181 100%);
}

.teacher-intro-swiper.test {
  transform: none !important;
}

.teacher-intro-swiper.test .swiper-wrapper {
  transform: none !important;
}

.teacher-intro-swiper.test .swiper-slide {
  transform: none !important;
}

.video-outer.fixed {
  position: fixed;
  z-index: 9999;
  backdrop-filter: blur(6px);
}
.video-button {
  transition: opacity 0.35s ease;
}

.video-button.off {
  opacity: 0;
  pointer-events: none;
}

/*.swiper-slide {
  transition: width 0.35s ease;
}

.swiper-slide:has(.teacher-intro-slide.video) {
  width: 100% !important;
}*/
