@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;

  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;

  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;

  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;

  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;

  --radius: 0.5rem;
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;

  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;

  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;

  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;

  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;

  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;

  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 0 0% 83.1%;
}

* {
  @apply border-border;
}
body {
  @apply bg-black text-foreground;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
p,
span {
  @apply tracking-tight;
}

a,
button,
img {
  user-select: none;
}

.video-wrapper {
  perspective: var(--service-card-width);
}

.footer-vid {
  transform-style: preserve-3d;
  background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(16, 16, 16, 0.2) 1%
  );
}

#profitHero {
  filter: drop-shadow(0px 4px 4px rgba(46, 46, 46, 0.14))
    drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.69));
}

@media (min-width: 1024px) {
  #profitHero {
    filter: drop-shadow(0px 4px 4px rgba(46, 46, 46, 0.14))
      drop-shadow(0px 0px 110px rgba(0, 0, 0, 0.69));
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #282828;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.tiptap a {
  color: #00ff0a;
}

.profit-checkbox > span[aria-hidden="true"] {
  display: none;
}

.onboarding {
  background: radial-gradient(
    61.92% 58.3% at 50% 58.3%,
    #121212 0%,
    #000 100%,
    #000 100%
  );
}

.cl-internal-3fgo0t {
  display: none;
}

.tier-section {
  background: radial-gradient(
    61.92% 58.3% at 50% 58.3%,
    #121212 0%,
    #000 50%,
    #000 100%
  );
}

img {
  user-select: none;
}

.indicator {
  left: 38%;
  width: 33.33%;
  border-radius: 0px;
  opacity: 0;
}

.tier-card-selector:has(.tier-card-selector-left:hover) > .indicator {
  width: 50%;
  left: 0.5rem;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.tier-card-selector:has(.tier-card-selector-right:hover) > .indicator {
  width: 33.33%;
  left: 61%;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.tier-card-selector > .indicator {
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.tier-card-selector:hover > .indicator {
  opacity: 1;
}

.tier-label {
  animation-name: bob;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.bob {
  animation-name: bob;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.profit-coin {
  animation-name: bobCoin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bob {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.breathe {
  transform-origin: top;
  animation: breathe 8s ease-in-out infinite;
}

@keyframes breathe {
  0% {
    transform: scale(1) translateY(-50%);
    opacity: 1;
  }

  50% {
    transform: scale(1.2) translateY(-50%);
    opacity: 0.7;
  }

  100% {
    transform: scale(1) translateY(-50%);
    opacity: 1;
  }
}

@keyframes bobCoin {
  0% {
    transform: translateY(calc(-50% - 0px)) translateX(-50%);
  }

  50% {
    transform: translateY(calc(-50% - 10px)) translateX(-50%);
  }

  100% {
    transform: translateY(calc(-50% - 0px)) translateX(-50%);
  }
}

.tier-card-fs {
  transition: transform 0.55s cubic-bezier(0.19, 1, 0.22, 1);
}

.tier-card:hover > .tier-card-fs {
  transform: scale(1.2);
}

.left-light-grad {
  background: conic-gradient(
    from 181deg at 57% 0%,
    rgba(27, 27, 27, 0) -30.87deg,
    #218643 30.23deg,
    rgba(72, 255, 134, 0.6) 89.8deg,
    rgba(19, 19, 19, 0) 89.89deg,
    rgba(72, 255, 134, 0) 90.24deg,
    rgba(24, 24, 24, 0) 144.37deg,
    rgba(27, 27, 27, 0) 329.13deg,
    #218643 390.23deg
  );
  transform: scaleX(-1);
}

.right-light-grad {
  background: conic-gradient(
    from 181deg at 57% 0%,
    rgba(27, 27, 27, 0) -30.87deg,
    #218643 30.23deg,
    rgba(72, 255, 134, 0.6) 89.8deg,
    rgba(19, 19, 19, 0) 89.89deg,
    rgba(72, 255, 134, 0) 90.24deg,
    rgba(24, 24, 24, 0) 144.37deg,
    rgba(27, 27, 27, 0) 329.13deg,
    #218643 390.23deg
  );
}

.light-ellipse {
  background: rgba(72, 255, 134, 0.36);
  filter: blur(80px);
}

.light-bar {
  background: linear-gradient(180deg, #505050 0%, white 195%);
  border-radius: 3px;
}

.marquee {
  --gap: 6rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: marqueeScroll 32s linear infinite;
}

@keyframes marqueeScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.video-outer {
  backdrop-filter: blur(0px);
}

.video-outer.fixed {
  position: fixed;
  z-index: 9999;
  backdrop-filter: blur(8px);
}

.video-outer.fixed .video-thumbnail {
  opacity: 0;
}

.video-outer.fixed .teacher-name {
  opacity: 0;
}

.video-button {
  transition: opacity 0.35s ease;
}

.video-button.off {
  opacity: 0;
  pointer-events: none;
}
